# eMMC user area image for the WaRP7 (imx7s), flashed from U-Boot with
# "ums 0 mmc 0". bl2.bin.imx (TF-A BL2 + i.MX header) is not in it: the
# BootROM reads it at 1K of the eMMC boot0/boot1 partition (A/B, see README).
# * the U-Boot environment lives at 512K/640K (redundant),
# * fip.bin (OP-TEE + U-Boot) is read by BL2 at 1M and must fit in 1M,
# * p1 (bootable VFAT) holds boot.scr, loaded by the U-Boot bootcmd, and a
#   copy of bl2.bin.imx for the first flash of the boot partitions,
# * p2/p3 are the A/B rootfs partitions with the kernel and dtb in /boot,
# * p4 (data) is grown to fill the disk on first boot.

image boot.vfat {
  vfat {
    files = {
      "boot.scr",
      "bl2.bin.imx"
    }
  }
  size = 32M
}

image data.ext4 {
  ext4 {
    use-mke2fs = true
    label = "data"
  }
  empty = true
  size = 64M
}

image sdcard.img {
  hdimage {
  }

  partition fip {
    in-partition-table = "no"
    image = "fip.bin"
    offset = 1M
    size = 1M
  }

  partition boot {
    partition-type = 0xC
    bootable = "true"
    image = "boot.vfat"
    offset = 8M
  }

  partition rootfs_A {
    partition-type = 0x83
    image = "rootfs.ext2"
    size = 1G
  }

  partition rootfs_B {
    partition-type = 0x83
    image = "rootfs.ext2"
    size = 1G
  }

  partition data {
    partition-type = 0x83
    image = "data.ext4"
  }
}
