# Single-partition SD card image for the Debix Model A (imx8mp)
# * imx8-boot-sd.bin (SPL+ATF+U-Boot FIT) is dumped at the offset expected
#   by the BootROM (32K),
# * a single ext4 partition holds the rootfs, /boot/Image, /boot/*.dtb and
#   /boot/extlinux/extlinux.conf (picked up automatically by U-Boot's
#   distro_bootcmd).

image sdcard.img {
  hdimage {
  }

  partition imx-boot {
    in-partition-table = "no"
    image = "imx8-boot-sd.bin"
    offset = 32K
  }

  partition rootfs {
    partition-type = 0x83
    bootable = "true"
    image = "rootfs.ext4"
    offset = 8M
  }
}
