# SD card image for the Debix Model A (imx8mp)
# * imx8-boot-sd.bin is dumped at the BootROM offset (32K),
# * the U-Boot environment lives at 4M, so partitions start at 16M,
# * p1 (bootable VFAT) holds only boot.scr, found by distro_bootcmd,
# * p2/p3 are the A/B rootfs partitions with the kernel and dtb in /boot,
# * p4 (data) is grown to fill the disk on first boot.

image boot.vfat {
  vfat {
    files = {
      "boot.scr"
    }
  }
  size = 32M
}

image data.ext4 {
  ext4 {
    use-mke2fs = true
    label = "data"
  }
  empty = true
  size = 64M
}

image sdcard.img {
  hdimage {
  }

  partition imx-boot {
    in-partition-table = "no"
    image = "imx8-boot-sd.bin"
    offset = 32K
  }

  partition boot {
    partition-type = 0xC
    bootable = "true"
    image = "boot.vfat"
    offset = 16M
  }

  partition rootfs_A {
    partition-type = 0x83
    image = "rootfs.ext2"
  }

  partition rootfs_B {
    partition-type = 0x83
    image = "rootfs.ext2"
  }

  partition data {
    partition-type = 0x83
    image = "data.ext4"
  }
}
